
.film {
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.posterImage {
    width: 100%;
}

.poster {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.rating {
    position: absolute;
    top: 20px;
    right: 20px;
} 

.rating {
    padding: 4px 10px;
    background-color: #89CB36;
    border-radius: 5px;
}

.genre {
    color: #F2F60F;
}